<nav class='navbar navbar-custom'>
    <a class='navbar-brand text-dark' href='/'>Shortener</a>

    <ul class='navbar-nav navbar-custom__list'>
        <% if (locals.isLogged) { %>
            <li class='nav-item navbar-custom__item'>
                <button class='btn-reset navbar__profile' aria-label='open profile menu'>profile</button>
            </li>
        <% }else{ %>
            <li class='nav-item navbar-custom__item'>
                <a href='/login/' class='nav-link navbar-custom__link'>login</a> or <a href='/register/' class='nav-link navbar-custom__link'>register</a>
            </li>
        <% } %>
    </ul>
</nav>